XML Schema/InboundGLTrialBalance.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:dt="urn:schemas-microsoft-com:datatypes" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:schemas-microsoft-com:datatypes" />
  <xs:element name="SyncGLTrialBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sqle36638">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ApplicationArea">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Sender">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="LogicalID">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="schemeVersionID" type="xs:string" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ComponentID">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="schemeVersionID" type="xs:string" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="CreationDateTime" type="xs:dateTime" />
                    <xs:element name="BODID" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DataArea">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Sync">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="TenantID" type="xs:unsignedByte" />
                          <xs:element name="LocationID" type="xs:unsignedByte" />
                          <xs:element name="ActionCriteria">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ActionExpression">
                                  <xs:complexType>
                                    <xs:attribute name="actionCode" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="GLTrialBalance">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="GLTrialBalanceHeader">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="viewfmt">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="b9wja1">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:unsignedByte">
                                              <xs:attribute ref="dt:dt" use="required" />
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="b9qxcd" type="xs:unsignedShort" />
                                      <xs:element name="b9ait1" type="xs:unsignedInt" />
                                      <xs:element name="b9ajt1" type="xs:string" />
                                      <xs:element name="b9wga1">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:unsignedByte">
                                              <xs:attribute ref="dt:dt" use="required" />
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="b9akt1" type="xs:string" />
                                      <xs:element name="b9wia1">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:unsignedByte">
                                              <xs:attribute ref="dt:dt" use="required" />
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="b9wha1">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:unsignedByte">
                                              <xs:attribute ref="dt:dt" use="required" />
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="b9addx">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:unsignedByte">
                                              <xs:attribute ref="dt:dt" use="required" />
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="b9aedx">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:unsignedInt">
                                              <xs:attribute ref="dt:dt" use="required" />
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="b9aavn" type="xs:string" />
                                      <xs:element name="b9aadt">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:unsignedByte">
                                              <xs:attribute ref="dt:dt" use="required" />
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="b9amtm">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:unsignedByte">
                                              <xs:attribute ref="dt:dt" use="required" />
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="b9ajst" />
                                      <xs:element name="b9ahvn" />
                                      <xs:element name="b9agvn" type="xs:string" />
                                      <xs:element name="b9abvn" />
                                      <xs:element name="b9abdt">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:unsignedInt">
                                              <xs:attribute ref="dt:dt" use="required" />
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="b9abtm">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:unsignedInt">
                                              <xs:attribute ref="dt:dt" use="required" />
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="GLTrialBalanceDetail">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="viewfmt">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="cawja1">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:unsignedByte">
                                              <xs:attribute ref="dt:dt" use="required" />
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="caqxcd" type="xs:unsignedShort" />
                                      <xs:element name="caait1" type="xs:unsignedInt" />
                                      <xs:element name="cawka1">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:unsignedShort">
                                              <xs:attribute ref="dt:dt" use="required" />
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="cawga1">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:unsignedByte">
                                              <xs:attribute ref="dt:dt" use="required" />
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="caplt1" type="xs:string" />
                                      <xs:element name="cawha1">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:unsignedByte">
                                              <xs:attribute ref="dt:dt" use="required" />
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="cawia1">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:unsignedByte">
                                              <xs:attribute ref="dt:dt" use="required" />
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="caaddx">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:unsignedByte">
                                              <xs:attribute ref="dt:dt" use="required" />
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="caaedx">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:unsignedInt">
                                              <xs:attribute ref="dt:dt" use="required" />
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="caaavn" type="xs:string" />
                                      <xs:element name="caaadt">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:unsignedByte">
                                              <xs:attribute ref="dt:dt" use="required" />
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="caamtm">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:unsignedByte">
                                              <xs:attribute ref="dt:dt" use="required" />
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="caajst" />
                                      <xs:element name="caahvn" />
                                      <xs:element name="caagvn" type="xs:string" />
                                      <xs:element name="caabvn" />
                                      <xs:element name="caabdt">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:unsignedInt">
                                              <xs:attribute ref="dt:dt" use="required" />
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="caabtm">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:unsignedInt">
                                              <xs:attribute ref="dt:dt" use="required" />
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="releaseID" type="xs:decimal" use="required" />
      <xs:attribute name="versionID" type="xs:string" use="required" />
      <xs:attribute name="systemEnvironmentCode" type="xs:string" use="required" />
      <xs:attribute name="languageCode" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>